<meta charset="utf-8">
 <div class="container my-auto">
   <div class="copyright text-center my-auto">
   	<div><img src="/img/OneSports.png" width=166></div><br>
   	<div>주소 : 서울특별시 강서구 등촌3동 강서로 420</div><br>
   	<div>팀 이름 : FamilyToto | 사이트 명 : OneSports | 2019년 2학년 2학기 JSP프로젝트</div><br>
   	<div>조원 : 박지호(조장), 하상준(서브코더), 여규원(퍼블리셔), 이길호(블로거)</div><br>
   	<div><a href="https://blog.naver.com/familytoto2019_2b02" target="_blank">블로그</a> | 
   	<a href="https://github.com/bjh0501/OneSports" target="_blank">깃 허브</a></div><br>
    <div>Copyright &copy; FamilyToto 2019</div>
   </div>
 </div>
 
 <style>
 
 </style>