<!DOCTYPE html>
  <meta charset="utf-8">

	<!-- Sidebar Toggle (Topbar) -->
	<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
		<i class="fa fa-bars"></i>
	</button>


	        <!-- Topbar Navbar -->
	<ul th:if="${session.cust == null}" class="navbar-nav ml-auto">
		<li class="nav-item dropdown no-arrow mx-1">
			<a class="nav-link dropdown-toggle" href="login" role="button">
				<i class="fas fa-sign-in-alt"></i>
				로그인
			</a>
		</li>
		<li class="nav-item dropdown no-arrow mx-1">
			<a class="nav-link dropdown-toggle" href="findID_PW" role="button">
				<i class="fas fa-lock-open"></i>
				ID/PW 찾기
			</a>
		</li>
		<li class="nav-item dropdown no-arrow mx-1">
			<a class="nav-link dropdown-toggle" href="registerCust" role="button" >
				<i class="fas fa-user-plus"></i>
				회원가입
			</a>
		</li>
	</ul>	
	<ul th:if="${session.cust != null}" class="navbar-nav ml-auto">
		<li class="nav-item dropdown no-arrow mx-1">
			<a class="nav-link dropdown-toggle" href="changeCust" role="button" >
				<i class="fas fa-user-edit"></i>
				내정보보기
			</a>
		</li>
		<li class="nav-item dropdown no-arrow mx-1">
			<a class="nav-link dropdown-toggle" href="logout" role="button" >
				<i class="fas fa-sign-out-alt"></i>
				로그아웃
			</a>
		</li>
	</ul>