
  <meta charset="utf-8">
<!-- Sidebar -->
    

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <img src="img/logo/icon.png">
        </div>
        <div class="sidebar-brand-text mx-3">One Sports</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Toto & Shop
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseToto" aria-expanded="true" aria-controls="collapseToto">
          <i class="fas fa-chess-queen"></i>
          <span>토토</span>
        </a>
        <div id="collapseToto" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="buttons.html">사다리</a>
            <a class="collapse-item" href="buttons.html">홀짝</a>
            <a class="collapse-item" href="buttons.html">그래프</a>
            <h6 class="collapse-header">Betting:</h6>
            <a class="collapse-item" href="buttons.html">게임배팅</a>
            <a class="collapse-item" href="buttons.html">스포츠배팅</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShop" aria-expanded="true" aria-controls="collapseShop">
          <i class="fas fa-store"> <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></i>
          <span>상점</span>
        </a>
        <div id="collapseShop" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="charge">충전</a>
            <a class="collapse-item" href="itemShop">아이템샵</a>
            <a class="collapse-item" href="creditShop">크레딧샵</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Event & Board
      </div>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-calendar-week"></i>
          <span>이벤트</span></a>
      </li>

      <!-- Nav Item - Tables -->
       <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBoard" aria-expanded="true" aria-controls="collapseBoard">
          <i class="fas fa-book-reader"></i>
          <span>게시판</span>
        </a>
        <div id="collapseBoard" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="border">자유게시판</a>
            <a class="collapse-item" href="qna">Q&A</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Etc
      </div>

       <!-- Nav Item - Tables -->
       <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAboutUs" aria-expanded="true" aria-controls="collapseAboutUs">
          <i class="fas fa-user-friends"></i>
          <span>About Us</span>
        </a>
        <div id="collapseAboutUs" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="project">프로젝트 소개</a>
            <a class="collapse-item" href="buttons.html">연혁</a>
            <a class="collapse-item" href="introduceTeam">팀원소개</a>
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    <!-- End of Sidebar -->