<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Sports</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{css/Nunito.css}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>
<body id="page-top">

  <!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>
	
	    <!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
		
		      <!-- Main Content -->
			<div id="content">
		
		        <!-- Topbar -->
		        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:include="/header/header">
		
		
		        </nav>
		        <!-- End of Topbar -->
		
		        <!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">크레딧 샵</h2>
					</div>
					<div class="row">
						<div class="col-xl-4 col-lg-6 col-md-8 col-sm-12" >
							<div class="input-group mb-3">
								<select class="custom-select" id="inputGroupSelect01">
								    <option selected>전체보기</option>
								    <option value="1">카드</option>
								    <option value="2">술</option>
								    <option value="3">총</option>
								    <option value="3">마약</option>
								  </select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" >
							<div class="input-group mb-3">
							  <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
							  <button type="button" class="btn btn-secondary">검색</button>
							</div>
						</div>
					</div>
					
					
					<div class="card-columns">					  
					  <div class="card">
					    <img src="http://blogfiles.naver.net/20141029_68/j2n3108_1414558871178zocvH_JPEG/ff6ff190f2dc7bb051400416b1e9ac97.jpg" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">양주 패키지</h5>
					      <p class="card-text">500,000팁</p>
					    </div>
					  </div>
					  <div class="card">
					    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzA4MjVfOTgg%2FMDAxNTAzNTg3MTg4MTU0.0qadFvSOHnjn1c2omKfOEQwVV2HM04eD9tXdKP2QfDgg.ZViNEzpSWrmOTOucwczXyaIjY5GcpgyE23Klh7_e4Iog.JPEG.ducky147%2FKakaoTalk_20170825_000457804.jpg&type=b400" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">세븐스타</h5>
					      <p class="card-text">15,000팁</p>
					    </div>
					  </div>
					  <div class="card">
					    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2Fdata42%2F2009%2F5%2F18%2F221%2F2%25281%2529_fbi919.jpg&type=b400" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">k-2</h5>
					      <p class="card-text">500,000팁</p>
					    </div>
					  </div>
					  <div class="card">
					    <img src="http://shop1.phinf.naver.net/20180828_56/sglife4451_1535452518482a4brP_JPEG/21702341618703288_150739478.jpg" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">장미칼</h5>
					      <p class="card-text">30,000팁</p>
					    </div>
					  </div>
					  <div class="card">
					    <img src="http://gdimg.gmarket.co.kr/1622912847/still/600?ver=1560142638" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">화투패</h5>
					      <p class="card-text">1,100팁</p>
					    </div>
					  </div>
					  <div class="card">
					    <img src="http://blogfiles.naver.net/MjAxNjExMTRfMTU3/MDAxNDc5MTAwOTAxNTM1.UUXDmwKUVDsa86lkvxReCSFICh61PHiUlCgQop148yUg.b2cYEVcOY5DIlbAOCkcVfG8Hie3xui3jNmrWYnMOJYQg.JPEG.kjy456c/google_co_kr_20161114_141912.jpg" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">대마초</h5>
					      <p class="card-text">1,000,000팁</p>
					    </div>
					  </div>
					  <div class="card">
					    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20111117_52%2Frollerjang1_1321531858459DsgAC_JPEG%2F%25C2%25FC%25C0%25CC%25BD%25BDfre.JPG&type=b400" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">참이슬</h5>
					      <p class="card-text">1,300팁</p>
					    </div>
					  </div>
					  <div class="card">
					    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20140723_8%2Fnmp_1406109436654PIycH_JPEG%2F71352837753cf86b457c9e.jpg&type=b400" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">카지노칩</h5>
					      <p class="card-text">9,900팁</p>
					    </div>
					  </div>
					  <div class="card">
					    <img src="http://gdimg.gmarket.co.kr/1467635506/still/600?ver=1538615519" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">화투담요</h5>
					      <p class="card-text">3,000팁</p>
					    </div>
					  </div>
					  
					</div>
					
					
								
				</div>
		        <!-- /.container-fluid -->
		
			</div>
	      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white" th:include="/footer/footer">
      
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
	</div>
  <!-- End of Page Wrapper -->

  

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{js/demo/chart-area-demo.js}"></script>
  <script th:src="@{js/demo/chart-pie-demo.js}"></script>

</body>

</html>
