<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Sports</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{css/Nunito.css}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:include="/header/header">
		</ul>
	
	    <!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
		
		      <!-- Main Content -->
			<div id="content">
		
		        <!-- Topbar -->
		        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:include="/loginInfo/loginInfo">
		
		
		        </nav>
		        <!-- End of Topbar -->
		
		        <!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">정보수정</h2>
					</div>
		          
					<div class="row">
						<div class="col-xl-12 col-md-12 mb-12">
							<div class="card shadow h-100 py-12">
								<div style="padding:20px;">
				                	<div class="row">
				                		<h1>회원정보</h1>
				                	</div>
				                	
				                	<label>아이디</label>
									<input type="text" class="form-control" placeholder="ID" aria-label="Username" disabled><br>
									<label>닉네임</label>
									<div class="row">
										<div class="col-xl-6 col-md-6 mb-6">
										<input type="text" class="form-control" placeholder="Nickname" aria-label="Nickname" disabled>
										</div>
										<div class="col-xl-4 col-md-4 mb-4">
										<div>
											<label style="padding-top:6px;">*닉네임은 <a href="#">닉네임 변경권</a>으로만 변경이 가능합니다.</label>
										</div>
										
										</div>
									</div>
									<label>이메일</label>
									<div class="row">
										<div class="col-xl-4 col-md-4 mb-4">
											<input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" >
										</div>
										<label style="padding-top:6px;">@</label>
										<div class="col-xl-4 col-md-4 mb-4">
											<input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail">
										</div>
										<div class="col-xl-3 col-md-3 mb-3">
											<select class="custom-select" id="inputGroupSelect01">
											    <option selected>Choose...</option>
											    <option value="1">One</option>
											    <option value="2">Two</option>
											    <option value="3">Three</option>
											 </select>
										 </div>
									</div>
									<label>주소</label>
									<div class="row">
										<div class="col-xl-9 col-md-9 mb-9">
											<div class="input-group mb-3">
												<input type="text" class="form-control" placeholder="Address1" aria-label="Address1" >
											</div>
										</div>
										<div class="col-xl-3 col-md-3 mb-3">
											<div class="input-group mb-3">
												<button type="button" class="btn btn-secondary">주소찾기</button>
											</div>
										</div>
									</div>
									<input type="text" class="form-control" placeholder="Address2" aria-label="Address2" ><br>
									<label>현재 비밀번호</label>
									<input type="text" class="form-control" placeholder="Current Password" aria-label="Password" ><br>
									<label>새 비밀번호</label>
									<input type="text" class="form-control" placeholder="New Password" aria-label="Password check" ><br>
									<label>새 비밀번호 확인</label>
									<input type="text" class="form-control" placeholder="New Password Check" aria-label="Password check" ><br>
									
									<hr/>
									<div class="row">
				                		<h1>소셜연동</h1>
				                	</div>
				                	<div class="row">
					                	<label>페이스북</label>
					                	<div style="margin-left:7px;">
						                	<div class="custom-control custom-switch">
											  <input type="checkbox" class="custom-control-input" id="facebook">
											  <label class="custom-control-label" for="facebook">연동중</label>
											</div>
										</div>
									</div>
									<input type="text" class="form-control" placeholder="ID" aria-label="Username" ><br>
									<div class="row">
									
										<label>카카오</label>
										<div style="margin-left:7px;">
						                	<div class="custom-control custom-switch">
											  <input type="checkbox" class="custom-control-input" id="kakao">
											  <label class="custom-control-label" for="kakao">연동중</label>
											</div>
										</div>
									</div>
									<input type="text" class="form-control" placeholder="ID" aria-label="Username" ><br>
									<div class="row">
										<label>네이버</label>
										<div style="margin-left:7px;">
						                	<div class="custom-control custom-switch">
											  <input type="checkbox" class="custom-control-input" id="naver">
											  <label class="custom-control-label" for="naver">연동중</label>
											</div>
										</div>
									</div>
									<input type="text" class="form-control" placeholder="ID" aria-label="Username" ><br>
									<div class="row">
										<div class="col-xl-6 col-md-6 mb-6">
											<div class="input-group mb-3">
				                				<button type="button" class="btn btn-secondary btn-block">탈퇴하기</button>
				                			</div>
			                			</div>
			                			<div class="col-xl-6 col-md-6 mb-6">
			                				<div class="input-group mb-3">
				                				<button type="button" class="btn btn-secondary btn-block">수정하기</button>
			                				</div>
			                			</div>
				                	</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		        <!-- /.container-fluid -->
		
		</div>
	      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white" th:include="/footer/footer">
      
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
	</div>
  <!-- End of Page Wrapper -->

  

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{js/demo/chart-area-demo.js}"></script>
  <script th:src="@{js/demo/chart-pie-demo.js}"></script>

</body>

</html>
