<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Sports</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{css/Nunito.css}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:include="/sidebar/sidebar">
	</ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:include="/header/header">


        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="row">
          	<h2 class="text-title">로그인</h2>
          </div>
          
          <div class="row">
            <div class="col-xl-6 col-md-12 mb-6">
              <div class="card shadow h-100 py-12">
                <img src="/img/OneSports.png" width="100%" />
              </div>
            </div>
            
            <div class="col-xl-6 col-md-12 mb-6">
              <div class="card shadow h-100 py-12">
              	<div style="padding:20px;">
	              	<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" >ID</span>
					  </div>
					  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="id">
					</div>
					
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" >Password</span>
					  </div>
					  <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="pw">
					</div>
					<div class="input-group mb-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="use">
							<label class="custom-control-label" for="use">아이디 기억</label>
						</div>
					</div>
					<div class="input-group mb-3">
						<button type="button" class="btn btn-secondary" style="width:100%;" onclick="javascript:custLogin()">로그인</button>
					</div>
					<div class="input-group mb-3">
						<button type="button" class="btn btn-secondary" style="width:100%;">페이스북</button>
					</div>
					<div class="input-group mb-3">
						<button type="button" class="btn btn-secondary" style="width:100%;">네이버</button>
					</div>
					<div class="input-group mb-3">
						<button type="button" class="btn btn-secondary" style="width:100%;">카카오톡</button>
					</div>
					<p class="text-center">
						<a href="/findID_PW" >아이디/비밀번호 찾기</a>
					</p>
					<p class="text-center">
						<a href="/registerCust" >회원가입</a>
					</p>
				</div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white" th:include="/footer/footer">
      
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->


  <!-- Bootstrap core JavaScript-->
  <script th:src="@{vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{js/demo/chart-area-demo.js}"></script>
  <script th:src="@{js/demo/chart-pie-demo.js}"></script>

</body>

</html>
<script>
	function custLogin() {
		id = $("#id");
		pw = $("#pw");
		
		if(id.val().trim() == "") {
			alert("아이디를 입력해주세요.")
			id.focus();
			return;
		}
		
		if(pw.val().trim() == "") {
			alert("패스워드를 입력해주세요.")
			pw.focus();
			return;
		}

		$.ajax({
			url : "/login/custLogin",
			type : "POST",
			cache : false,
			dataType : "json",
			data : "custId=" + id.val() 
					+ "&custPassword=" + pw.val(),
			success : function(data) {
				if(data == -99) {
					alert("아이디나 비밀번호가 다릅니다.")
					return;
				}
				
				if($("input:checkbox[id='use']").is(":checked") == true) {
					setCookie("rememberCustId",id.val(),30);
				} else {
					deleteCookie("rememberCustId");
				}
				
				location.replace("/")
			},

			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	$(document).ready(function(){
		remeberedId = getCookie("rememberCustId");
		
		if(remeberedId != undefined) {
			$("#id").val(remeberedId)			
			$("input:checkbox[id='use']").prop("checked", true);
		}
		
		
        $("#id, #pw").keypress(function (e) {
	        if (e.which == 13){
	        	custLogin();
	        }
    	});
	});
	
	function setCookie(cookie_name, value, days) {
		var exdate = new Date();
		exdate.setDate(exdate.getDate() + days);
		// 설정 일수만큼 현재시간에 만료값으로 지정
		
		var cookie_value = escape(value) + ((days == null) ? '' : ';    expires=' + exdate.toUTCString());
		document.cookie = cookie_name + '=' + cookie_value;
	}
	
	function getCookie(cookie_name) {
	  var x, y;
	  var val = document.cookie.split(';');

	  for (var i = 0; i < val.length; i++) {
	    x = val[i].substr(0, val[i].indexOf('='));
	    y = val[i].substr(val[i].indexOf('=') + 1);
	    x = x.replace(/^\s+|\s+$/g, ''); // 앞과 뒤의 공백 제거하기
	    if (x == cookie_name) {
	      return unescape(y); // unescape로 디코딩 후 값 리턴
	    }
	  }
	}
	
	var deleteCookie = function(name) {
		document.cookie = name + '=; expires=Thu, 01 Jan 1999 00:00:10 GMT;';
	}
</script>