<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Sports</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{css/Nunito.css}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>
<body id="page-top">

  <!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>
	
	    <!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
		
		      <!-- Main Content -->
			<div id="content">
		
		        <!-- Topbar -->
		        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:include="/header/header">
		
		
		        </nav>
		        <!-- End of Topbar -->
		
		        <!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">상품 구매 현황</h2>
					</div>
					<div class="row">
						<div class="col-xl-8 col-lg-6 col-md-12 col-sm-12" >
							<div class="input-group mb-3">
							  <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
							</div>
						</div>
						
						<div class="col-xl-3 col-lg-4 col-md-10 col-sm-12" >
							<div class="input-group mb-3">
							  <input type="text" class="form-control" placeholder="yyyymmdd" aria-label="yyyymmdd" aria-describedby="basic-addon1">
							  <span class="text-word-l" style="color:white">~</span>
							  <input type="text" class="form-control" placeholder="yyyymmdd" aria-label="yyyymmdd" aria-describedby="basic-addon1">
							  
							</div>
						</div>
						<div class="col-xl-1 col-lg-2 col-md-2 col-sm-12" >
							<button type="button" class="btn btn-secondary btn-block">검색</button>
						</div>
					</div>
					<div class="card shadow mb-4">
			            <div class="card-body">
			              <div class="table-responsive">
			                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			                  <thead>
			                    <tr>
			                      <th style="width:80px;">구입번호</th>
			                      <th style="width:85px;">거래일시</th>
			                      <th style="width:100px;">상품명</th>
			                      <th style="width:100px;">가격</th>
			                      <th style="width:100px;">갯수</th>
			                      <th style="width:100px;">배송비</th>
			                      <th style="width:100px;">총합계</th>
			                    </tr>
			                  </thead>
			                  <tbody>
			                    <tr>
			                      <td rowspan=2 class="align-middle">1</td>
			                      <td rowspan=2 class="align-middle">2019. 07. 12 23:11:34</td>
			                      <td>황금 원카드 카드</td>
			                      <td>20,000</td>
			                      <td>10</td>
			                      <td rowspan=2 class="align-middle">3,500</td>
			                      <td rowspan=2 class="align-middle">213,500</td>
			                    </tr>
			                    <tr>
			                      <td>화투패</td>
			                      <td>10,000</td>
			                      <td>1</td>
			                    </tr>
			                    <tr>
			                      <td>2</td>
			                      <td>2019. 07. 05 01:44:55</td>
			                      <td>탄피</td>
			                      <td>200</td>
			                      <td>200</td>
			                      <td>3,500</td>
			                      <td>43,500</td>
			                    </tr>
			                  </tbody>
			                </table>
			              </div>
			            </div>
		          	</div>
					
					<div class="row justify-content-md-center">
		          		<div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 mb-4">
						  <ul class="pagination justify-content-center">
						    <li class="page-item disabled">
						      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
						    </li>
						    <li class="page-item"><a class="page-link" href="#">1</a></li>
						    <li class="page-item"><a class="page-link" href="#">2</a></li>
						    <li class="page-item"><a class="page-link" href="#">3</a></li>
						    <li class="page-item">
						      <a class="page-link" href="#">Next</a>
						    </li>
						  </ul>
						</div>
					</div>
					
					
								
				</div>
		        <!-- /.container-fluid -->
		
			</div>
	      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white" th:include="/footer/footer">
      
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
	</div>
  <!-- End of Page Wrapper -->

  

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{js/demo/chart-area-demo.js}"></script>
  <script th:src="@{js/demo/chart-pie-demo.js}"></script>

</body>

</html>
