<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Sports</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{css/Nunito.css}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:include="/header/header">
	</ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:include="/loginInfo/loginInfo">


        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="row">
          	<h2 class="text-title">회원가입</h2>
          </div>
          
          <div class="row">
            <div class="col-xl-12 col-md-12 mb-12">
              <div class="card shadow h-100 py-12">
              	<div style="padding:20px;">
					<label>아이디</label>
					<input type="text" class="form-control" placeholder="ID" aria-label="Username" id="id"><br>
					<label>비밀번호</label>
					<input type="password" class="form-control" placeholder="Password" aria-label="Password" id="password"><br>
					<label>비밀번호 확인</label>
					<input type="password" class="form-control" placeholder="Password check" aria-label="Password check" id="passwordCheck"><br>
					<label>닉네임</label>
					<input type="text" class="form-control" placeholder="Nickname" aria-label="Nickname" id="nickname"><br>
					<label>이메일</label>
					<div class="row">
						<div class="col-xl-4 col-md-4 mb-4">
							<input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" id="email1">
						</div>
						<label style="padding-top:6px;">@</label>
						<div class="col-xl-4 col-md-4 mb-4">
							<input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" id="email2">
						</div>
						<div class="col-xl-3 col-md-3 mb-3">
							<select class="custom-select" id="emailChoose" onChange="chooseEmail()">
							    <option selected value="J">직접선택</option>
							    <option value="N">Naver.com</option>
							    <option value="D">Daum.net</option>
							    <option value="G">Google.com</option>
							  </select>
						  </div>
					  </div>
					 <br>
					<label>주소</label>
					<div class="row">
						<div class="col-xl-9 col-md-9 mb-9">
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="Address1" aria-label="Address1" id="addr1">
							</div>
						</div>
						<div class="col-xl-3 col-md-3 mb-3">
							<div class="input-group mb-3">
								<button type="button" class="btn btn-secondary" onClick="javascript:openDaumZipAddress();">주소찾기</button>
							</div>
						</div>
					</div>
					<input type="text" class="form-control" placeholder="Address2" aria-label="Address2" id="addr2"><br>
					<label>추천인</label>
					<input type="text" class="form-control" placeholder=Recommender aria-label="Recommender" id="recommender"><br>
					<div class="row">
						<div class="col-xl-3 col-md-6 mb-3">
							<img src="/captcha/index" id="imgCaptcha" style="min-width:235px; max-width:425px;float:right">
						</div>
						<div class="col-xl-9 col-md-6 mb-9">
							<div class="row">
								<div class="col-xl-6 col-md-6 mb-6">
									<div class="input-group mb-3">
										<button type="button" class="btn btn-secondary btn-lg btn-block " id="refresh">새로고침</button>
									</div>
								</div>
								<div class="col-xl-6 col-md-6 mb-6">
									<div class="input-group mb-3">
										<button type="button" class="btn btn-secondary btn-lg btn-block">음성듣기</button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-12 col-md-12 mb-12">
									<div class="input-group mb-3">
									  <input type="text" class="form-control" placeholder="입력해 주세요." aria-label="capturea" aria-describedby="basic-addon1" id="captcha">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-12 col-md-12 mb-12">
									<div class="input-group mb-3">
									  *이미지에 있는 문자를 입력해주세요.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 col-md-6 mb-6">
							<div class="input-group mb-3"> 
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="use">
									<label class="custom-control-label" for="use"><a href="#">이용약관</a>에 동의하십니까?</label>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-md-6 mb-6">
							<div class="input-group mb-3"> 
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="adult">
									<label class="custom-control-label" for="adult"><a href="#">성인</a>이십니까?</label>
								</div>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<button type="button" class="btn btn-secondary btn-lg btn-block" onClick="javascript:register();">회원가입</button>
					</div>
                 </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white" th:include="/footer/footer">
      
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{js/demo/chart-area-demo.js}"></script>
  <script th:src="@{js/demo/chart-pie-demo.js}"></script>

</body>

</html>
<script type="text/JavaScript" src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

<script>
	function chooseEmail() {
		ec = $("#emailChoose").val()
		email2 = $("#email2")
		
		email2.prop('disabled', true);
		
		if(ec == "J") {
			email2.val("");
			email2.prop('disabled', false);
		} else if(ec == "N") {
			email2.val("naver.com");
		} else if(ec == "D") {
			email2.val("daume.net");
		} else {
			email2.val("google.com");
		}
	}

	function openDaumZipAddress() {
		new daum.Postcode({
			oncomplete:function(data) {
				jQuery("#addr1").val(data.address);
			}
	
		}).open();
	
	}

	function register() {
		var email = "";
		
		captcha = $("#captcha");
		custId = $("#id");
		custPassword = $("#password");
		passwordCheck = $("#passwordCheck");
		
		familyCustNickname = $("#nickname");
		addr1 = $("#addr1");
		addr2 = $("#addr2");
		reco = $("#recommender");
		
		email1 = $("#email1");
		email2 = $("#email2");		
		email = email1.val() +"@"+ email2.val();
		
		if(custId.val().trim() == "") {
			alert("아이디를 입력해주세요.");
			custId.focus();
			return; 
		}
		
		
		// 영,숫 유효성검사하기
		if(custId.val().length < 4 || custId.val().length > 20) {
			alert("아이디는 4~20자리까지 입력이 가능합니다.");
			custId.focus();
			return ;
		}
		
		if(custPassword.val() == "") {
			alert("비밀번호를 입력해주세요.");
			custPassword.focus();
			return; 
		}
		
		if(passwordCheck.val() == "") {
			alert("비밀번호 확인을 입력해주세요.");
			passwordCheck.focus();
			return ;
		}
		
		if(passwordCheck.val().length < 4 || passwordCheck.val().length > 20) {
			alert("비밀번호는 4~20자리까지 입력이 가능합니다.");
			passwordCheck.focus();
			return ;
		}
		
		if(passwordCheck.val() != custPassword.val()) {
			alert("비밀번호와 비밀번호 확인이 다릅니다.");
			passwordCheck.focus();
			return;
		}
		
		if(familyCustNickname.val().trim() == "") {
			alert("닉네임을 입력해주세요.");
			familyCustNickname.focus();
			return ;
		}
		
 		if(familyCustNickname.val().length < 2 || familyCustNickname.val().length > 8) {
			alert("닉네임은 2~8자리까지 입력이 가능합니다.");
			familyCustNickname.focus();
			return ;
		}
		
		if(addr1.val().trim() == "") {
			alert("첫번째 주소를 입력해주세요.");
			addr1.focus();
			return; 
		}
		
		if(addr2.val().trim() == "") {
			alert("두번째 주소를 입력해주세요.");
			addr2.focus();
			return; 
		}
		
		if(captcha.val().trim() == "") {
			alert("자동 가입 방지 문자를 입력해주세요.");
			captcha.focus();
			return; 
		}
		
		if($("input:checkbox[id='use']").is(":checked") == false) {
			alert("이용약관을 체크해주세요.");
			return;
		}
		if($("input:checkbox[id='adult']").is(":checked") == false) {
			alert("성인이 아니면 가입을 할 수가 없습니다.\n성인이면 체크해주세요.");
			return;
		}
		
   		$.ajax({
   		    url: "/registerCust/register",
   		    type: "POST",
   		    cache: false,
   		    async:false,
   		    dataType: "json",
   		    data: "custId=" + custId.val() +
   		    "&custPassword=" + passwordCheck.val() +
   		    "&familyCustNickname=" + familyCustNickname.val() + 
   		    "&familyCustEmail=" + email +
   		    "&familyCustAddr1=" + addr1.val() +
   		    "&familyCustAddr2=" + addr2.val() +
   		    "&familyCustRecommend=" + reco.val() +
   		    "&captcha=" + captcha.val(),
   		    success: function(data){
   		    	if(data == -99) {
   		    		alert("자동 가입 방지 문자를 잘못 입력하였습니다.");
   		    		captcha.focus();
   		    		return ;
   		    	} else if(data == -98) {
   		    		alert("이미 존재하는 아이디입니다.");
   		    		custId.focus();
   		    		return ;
   		    	} else if(data == -97) {
   		    		alert("이미 존재하는 닉네임입니다.");
   		    		familyCustNickname.focus();
   		    		return ;
   		    	} 
   		    	
   		    	alert("회원가입에 성공하였습니다.");
   		    },
   		    
   		    error: function (request, status, error){        
   		        var msg = "ERROR : " + request.status + "<br>"
   		      msg +=  + "내용 : " + request.responseText + "<br>" + error;
   		      console.log(msg);              
   		    }
   		});
	}
	
	$("#refresh").click(function(){
        $("#imgCaptcha").attr("src", "/captcha/index");
    });
</script>