<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="webLog">


	<insert id="insertWebLog">
			INSERT INTO WEB_LOG (CURRENT_URL, BOARD_NO, PREV_URL, IP, CUST_NO, REG_DT)
			VALUES(#{currentUrl}, #{boardNo}, #{prevUrl},#{ip},#{custNo}, NOW())
	</insert>

	<!-- 
	<select id="getWebLogList" resultType="WebLogVO">
			SELECT	LOG_NO as logNo,
					CURRENT_URL as currentUrl,
					PREV_URL as prevUrl,
					IP,
					CUST_NO as custNo
			FROM	WEB_LOG
	</select> -->
</mapper>